.App {
  padding-top: 20px;
  text-align: center;
  background-color: cadetblue;
  height: 90px;
  color: rgb(223, 95, 37)
}

.student{
  text-align: center;
  margin: 30px;
}
.row{
  width: 100%;
}

.col-md-4{
  height: 280px;
  background-color: bisque;
  margin: 10px 10px;
  max-width: 28.333333%;
 
}
.container{
  width: 100%;
}





